{% extends "public/templates/public_templates.html" %}

{% import "macros/input_macros.html" as im %}

{% block title %} Jinja {% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Jinja Templates</h1>
      <hr>
      <h4>Variables</h4>
      <hr>
      <p>
        {{ my_name }}
      </p>
      <hr>

      <h4>Looping</h4>
      <ul>
        {% for lang in langs %}
        <li>{{ lang }}</li>
        {% endfor %}
      </ul>
      <hr>

      <h4>Looping with index</h4>
      <ul>
        {% for lang in langs %}
        <li>{{ loop.index }} : {{ lang }}</li>
        {% endfor %}
      </ul>
      <hr>

      <h4>Looping in Dict</h4>
      <ul>
        {% for k, v in friends.items() %}
        <li>{{ k }} : {{ v }}</li>
        {% endfor %}
      </ul>
      <hr>

      <h4>Looping in Dict keys</h4>
      <ul>
        {% for k in friends.keys() %}
        <li>{{ k }}</li>
        {% endfor %}
      </ul>
      <hr>

      <h4>Acces list member</h4>
      <p>
        {{ langs[0] }}
      </p>
      <hr>

      <h4>Acces dict member</h4>
      <p>
        {{ friends["Tom"] }}
      </p>
      <hr>

      <h4>Acces clas attribute</h4>
      <p>
        {{ my_remote.name }}
      </p>
      <hr>

      <h4>Unpack variables</h4>
      {% set a, b = colours %}
      <p> {{ a }}</p>
      <p> {{ b }}</p>
      <hr>

      <h4>Call a function</h4>
      <p> {{ repeat("FLASK IS AWESOME", 10) }}</p>
      <hr>

      <h4>Call a class method</h4>
      <p> {{ my_remote.clone() }}</p>
      <hr>

      <h4>Conditionals</h4>
      {% if not cool %}
      <p> Cool is {{ cool }}</p>
      {% endif %}
      <hr>

      <h4>Comparations</h4>
      {% if age < 18 %}
      <p> No entry </p>
      {% elif age < 26 %}
      <p>Nearly old enough</p>
      {% else %}
      <p>You may enter</p>
      {% endif %}
      <hr>

      <h4>Math</h4>
      <p>{{ age / 2 }}</p>
      <hr>

      <h4>Template Filters</h4>
      <p>Cantidad de Friends : {{ friends|length }}</p>
      <p>Cantidad de colores: {{ colours|length }}</p>
      <p>Mi name in Upper: {{ my_name|upper }}</p>
      <p>Mi name in Capitalize: {{ my_name|capitalize }}</p>
      <hr>

      <h4>Template Filters - Join</h4>
      <p>Unir Langs : { {{ langs|join(", ") }} } </p>
      <hr>

      <h4>Custom Filters</h4>
      <p>Datetime: {{ date }} </p>
      <p>Datetime con el filtro customizado: {{ date|clean_date }} </p>
      <hr>

      <h4>Escaping</h4>
      <p>{{ my_html|safe }}</p>
      <hr>

      <h4>Suspicious</h4>
      <p>{{ suspicious|safe }}</p>
      <hr>

      <h4>Macros</h4>
      
      {{ im.input(label="Your Name", name="name", id="name", placeholder="Please enter your name") }}
      {{ im.input(label="Age", type="number", name="age", id="age", placeholder="Please enter your age") }}
      {{ im.input(label="Password", type="password", name="password", id="password", placeholder="Please enter your password") }}
      

      <p>{{ suspicious|safe }}</p>
      <hr>

    </div>
  </div>
</div>

{% endblock %}